
<section class="contact-section">
    <h2>Contact Us</h2>
    <p class="contact-intro">Have a question, idea or just want to say hello? We'd love to hear from you.</p>
    <p class="contact-intro">If you have an idea or project that you believe could make an impact for the ANKA community, feel free to reach out to us anytime. Without you, we're one person short!</p>
    <div class="contact-container">
      
      <!-- Contact Form -->
      <form class="contact-form" action="https://formsubmit.co/ankait.nl@gmail.com" method="POST">
      <input type="text" name="name" placeholder="Your Name" required>
      <input type="email" name="email" placeholder="Your Email" required>
      <input type="text" name="subject" placeholder="Subject" required>
      <textarea name="message" placeholder="Your Message" rows="6" required></textarea>
      <button type="submit">Send Message</button>
    </form>
  
      <!-- Contact Info -->
      <div class="contact-info">
        <h3>Get in Touch</h3>
        <p><i class="fas fa-map-marker-alt"></i> Netherlands</p>
        <p><i class="fas fa-envelope"></i> info@associationanka.org</p>
        <p><i class="fas fa-phone-alt"></i> +31 6 87985485 </p>
        <div class="social-links">
          <a target="_blank" href="https://www.instagram.com/anka.association/"><i class="fab fa-instagram"></i></a>
          <a target="_blank" href="https://www.linkedin.com/company/ankastudentassociation"><i class="fab fa-linkedin"></i></a>
          <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
        </div>
      </div>
    </div>
  </section>