<!-- Footer for Logged In Users -->
<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="footer-col logo-col">
            <img src="Images/anka-logo.png" alt="ANKA Logo" class="footer-logo">
        </div>
        <div class="footer-col">
            <h4>MyANKA</h4>
            <ul>
                <li><a href="loggedIn.html">MyANKA Home</a></li>
                <li><a href="myrights.html">Legal Consultancy</a></li>
                <li><a href="Talent-Pool/talent-pool.html">ANKA Talent Pool</a></li>
                <li><a href="komite-basvuru-form.html">Committee Application</a></li>
                <li><a href="special.html">Special Discounts</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="social-links">
                <a target="_blank" href="https://www.instagram.com/anka.association?igsh=MWkwbzg2MjhpdG56cw=="><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/ankastudentassociation"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <br>
            <h4>Documents</h4>
            <div>
                <ul>
                    <li>
                        <a href="docs/tuzuk2025.pdf" target="_blank" rel="noopener noreferrer">
                        Articles of Association (TR)
                        </a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
    </div>
    <p class="footer-rights">© <span id="year">2025</span> ANKA Website. All rights reserved.</p>
</footer>

