<!-- Footer for Logged In Users -->
<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="footer-col logo-col">
            <img src="Images/anka-logo.png" alt="ANKA Logo" class="footer-logo">
        </div>
        <div class="footer-col">
            <h4 data-i18n="footer_loggedin.title">MyANKA</h4>
            <ul>
                <li><a href="loggedIn.html" data-i18n="footer_loggedin.home">MyANKA Home</a></li>
                <li><a href="myrights.html" data-i18n="footer_loggedin.legal">Legal Consultancy</a></li>
                <li><a href="Talent-Pool/talent-pool.html" data-i18n="footer_loggedin.talent">ANKA Talent Pool</a></li>
                <li><a href="komite-basvuru-form.html" data-i18n="footer_loggedin.committee">Committee Application</a></li>
                <li><a href="special.html" data-i18n="footer_loggedin.discounts">Special Discounts</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4 data-i18n="footer.follow">Follow Us</h4>
            <div class="social-links">
                <a target="_blank" href="https://www.instagram.com/anka.association?igsh=MWkwbzg2MjhpdG56cw=="><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/ankastudentassociation"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <br>
            <h4 data-i18n="footer.documents">Documents</h4>
            <div>
                <ul>
                    <li>
                        <a href="docs/tuzuk2025.pdf" target="_blank" rel="noopener noreferrer">
                        <span data-i18n="footer.articles">Articles of Association (TR)</span>
                        </a>
                    </li>
                </ul>
            </div> 
            <br>
            <h4 data-i18n="footer.legal">Legal</h4>
            <div>
                <ul>
                    <li><a href="../privacy-policy.html" data-i18n="footer.privacy">Privacy Policy</a></li>
                    <li><a href="../terms-and-conditions.html" data-i18n="footer.terms">Terms & Conditions</a></li>
                    <li><a href="../cookie-policy.html" data-i18n="footer.cookie">Cookie Policy</a></li>
                </ul>
            </div> 
        </div>
    </div>
    </div>
    <p class="footer-rights" data-i18n="footer.rights">© 2025 ANKA Website. All rights reserved.</p>
</footer>

