<!-- Footer -->
<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="footer-col logo-col">
            <img src="../Images/anka-logo.png" alt="ANKA Logo" class="footer-logo">
        </div>
        <div class="footer-col">
            <h4>Website</h4>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="our-committies.html">Our Committies</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
                <li><a href="online-startup-hub.html">Online Startup Hub</a></li>
                <li><a href="apply-now.html">Apply Now</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Follow Us</h4>
            <div class="social-links">
                <!-- <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a> -->
                <a target="_blank" href="https://www.instagram.com/anka.association?igsh=MWkwbzg2MjhpdG56cw=="><i class="fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/ankastudentassociation"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    </div>
    <p class="footer-rights">© 2025 ANKA Website. All rights reserved.</p>
</footer>
