<!-- Navbar -->
<nav class="navbar-container">
    <div class="navbar-logo">
      <a href="../index.html">
        <img src="../Images/anka-logo-name.png" alt="Logo" />
      </a>
    </div>
  
    <!-- Hamburger Toggle -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="hamburger">&#9776;</label>

    <ul class="navbar">
    <ul><li><a href="loggedIn.html">MyANKA</a></li></ul>
      
    <ul><li><a href="admin.html">Admin Panel</a></li></ul>
      
    <ul><li><a href="Talent-Pool/my-profile.html">My Profile</a></li></ul>
      
    
  </nav>
  
  