<!-- Navbar -->
<nav class="navbar-container">
  <div class="navbar-logo">
    <a href="../index.html">
      <img src="../Images/anka-logo-name.png" alt="Logo" />
    </a>
  </div>

  <!-- Hamburger Toggle -->
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="hamburger">&#9776;</label>

  <ul class="navbar">
    <li><a href="../index.html">Home</a></li>
    <li><a href="../about-us.html">About Us</a></li>
    <li><a href="../our-committies.html">Our Committees</a></li>
    <li><a href="../contact-us.html">Contact Us</a></li>
    <li><a href="https://ankattd.vercel.app/">ANKA Talent Pool</a></li>
    <li><a href="../online-startup-hub.html">Online Startup Hub</a></li>
    <li><a href="../apply-now.html">Apply Now</a></li>
    <li><a href="../login.html">Log in</a></li>
  </ul>
</nav>

