<!-- Navbar -->
<nav class="navbar-container">
  <div class="navbar-logo">
    <a href="../index.html">
      <img src="../Images/anka-logo-name.png" alt="Logo" />
    </a>
  </div>

  <!-- Hamburger icon -->
  <div class="hamburger" id="hamburger">&#9776;</div>

  <ul class="navbar" id="navbarMenu">
    <li><a href="../index.html">Home</a></li>
    <li><a href="../about-us.html">About Us</a></li>
    <li><a href="../our-committies.html">Our Committees</a></li>
    <li><a href="../contact-us.html">Contact Us</a></li>
    <li><a href="https://ankattd.vercel.app/">ANKA Talent Pool</a></li>
    <li><a href="../online-startup-hub.html">Online Startup Hub</a></li>
    <li><a href="../apply-now.html">Apply Now</a></li>
  </ul>
</nav>

<script>
  const hamburger = document.getElementById('hamburger');
  const navbarMenu = document.getElementById('navbarMenu');

  hamburger.addEventListener('click', () => {
    navbarMenu.classList.toggle('active');
  });
</script>
